@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  overflow: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

/* Class to hide scrollbar where needed */
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Carousel */
.carousel {
  scroll-behavior: smooth;
}
/* .carousel {
  scroll-snap-type: x mandatory;
  scroll-padding: 0 24px;
}

.carousel .carouselItem {
  scroll-snap-align: start;
} */

/*** MAP STYYLING ***/

.map-container {
  display:block;
  width: 100vw !important;
  height: 100vh !important;
  max-height: calc(100vh - 4.6rem) !important;
}
/* Controls InfoWindowF */
.gm-style-iw-c {
  padding: 0 !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

/* Prevents a random whitespace, inside of info windows specifically on chrome */
.gm-style-iw-d {
  overflow: hidden !important;
}

/* Controls InfoWindowF pointer under container */
.gm-style-iw-tc {
  display: none !important;
}
/* Controls the 'x' close button  */
.gm-ui-hover-effect {
  right:none !important;
  top: 1rem !important;
  left: 1rem !important;
  max-height: 2rem;
  max-width: 2rem;
  background-color: black !important;
  border-radius: 36px !important;
  opacity: .4 !important;
} 
/* close/ 'x' image color */
.gm-ui-hover-effect > span {
  background-color: white !important;

}

.heart {
  stroke:white !important;
  stroke-width: 40px !important;
}


/* Listing page container */
.listing-page-container{
  max-height: 560px !important;
  max-width: 1120px !important;
}

/* Listing page map */
.listing-page-map{
  /* display: relative; */
  max-height: 400px !important;
  max-width: 1120px !important;
  height: 400px !important;
  width: 100% !important;

}

