.main {
    width: 100vw !important;
    height: 100vw !important;
    min-width: 100vw !important;
    min-height: 100vh !important;
    position: absolute;
    top: 0;
    left: 0;
}

.map-container {
    display: block;
    min-width: 100vw !important;
    min-height: 100vh !important;
}